$appwidth: 350px;
$appheight: 450px;
$primaryColor: #202442;
$secondaryColor: #2c3152;
$checkboxColor: #3e4364;
$accentColor: #41cd7d;
$darkTextColor: #565a7e;
$mainFont: "Open Sans";
$secondaryFont: "Open Sans SemiBold";
$mainfontSize: 16px;